*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* header  */
header{
    padding: 10px;
    /* debug */
    background-color:  #3160e0;

}

.conteiner{
    display: flex;
    justify-content: center;

}

a{
    color: black;
    text-decoration: none;
}

.dot{
    border: 5px dashed black;
}

.dot-w{
    border: 5px dashed white ;
}

.logo, .link, .login{
    padding: 10px;
}

.logo{
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.link{
    flex-basis: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link a{
    color: white;
}

.login{
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login a{
    background-color: white;
    padding: 8px 16px;
    border-radius: 20px;
    color: black;
}

/* main  */
.jumbo{
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.jumbo-content{
    width: 50%;
    color: white;
    font-size: 20px;
    text-align: center;
}

.jumbo-content h1{
    margin: 40px 0;
    font-size: 50px;
}

.download-open{
    margin: 25px;
    display: flex;
    justify-content: space-around;
}

.download{
    background-color: white;
    padding: 16px 32px;
    border-radius: 20px;
}

#open{
    background-color: black;
    color: white;
    padding: 16px 32px;
    border-radius: 20px;
}

section{
    padding: 70px 0;
}

.container2{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    flex-basis: 70%;
    /* debug */
    /* min-height: 400px; */
    /* background-color: #2062cc; */
}

.txt{
    flex-basis: 30%;
    /* debug */
    /* min-height: 400px; */
    /* background-color:pink; */
}

.txt h2{
    font-size: 40px;

}

.txt div{
    font-size: 20px;
    margin-top: 20px;

}

.img-big{
    flex-basis: 60%;
    /* debug */
    min-height: 700px;
    background-color: green;
    margin: 50px 0;

}

.bg-gray{
    background-color: #f6f6f6;
}

.block-1{
    flex-basis: 40%;
    /* debug */
    min-height: 300px;
    background-color: #b66d9c;
}

.block-2{
    flex-basis: 15%;
    /* debug */
    min-height: 300px;
    background-color: cyan;
}

.container3{
    /* debug */
    width: 60%;
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-cyan{
    /* debug */
    background-color: cyan;
    min-height: 50px;
}

/* footer  */
footer{
    background-color: #232121;
}

.border-w{
    border-top: solid 3px white ;
    padding-top: 20px;
}

.main-footer a{
    padding: 5px;
    /* debug */
    background-color: #b66d9c;
}

.main-footer .flex{
    justify-content: space-between;
}