*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* header  */
header{
    padding: 10px;
    background-color:  #3160e0;

}

.conteiner{
    display: flex;
    justify-content: center;

}

a{
    color: black;
    text-decoration: none;
}

.logo, .link, .login{
    padding: 10px;
}

.logo{
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.link{
    flex-basis: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link a{
    color: white;
}

.login{
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login a{
    background-color: white;
    padding: 8px 16px;
    border-radius: 20px;
    color: black;
}

/* main  */
.jumbo{
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.jumbo-content{
    width: 50%;
    color: white;
    font-size: 20px;
    text-align: center;
}

.jumbo-content h1{
    margin: 40px 0;
    font-size: 50px;
}

.download-open{
    margin: 25px;
    display: flex;
    justify-content: space-around;
}

.download{
    background-color: white;
    padding: 16px 32px;
    border-radius: 20px;
}

#open{
    background-color: black;
    color: white;
    padding: 16px 32px;
    border-radius: 20px;
}

section{
    padding: 70px 0;
}

.container2{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    flex-basis: 70%;
}

.txt{
    flex-basis: 30%;
}

.txt h2{
    font-size: 40px;

}

.txt div{
    font-size: 20px;
    margin-top: 20px;

}

.container3{
    width: 70%;
    margin: 0 15%;
}

.center{
    text-align: center;
}

section .download{
    background-color: #8ea2e2;
    color: white;
}

.bg-gray{
    background-color: #f6f6f6;
}

.bg-star{
    padding: 50px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}



.flex{
    display: flex;
    justify-content: center;
}

/* footer  */
footer{
    background-color: #23272a;
    color: white;
}


.region{
    width: 20px;
}

.block-1{
    flex-basis: 40%;
    margin: 20px 0;

}

.block-2{
    flex-basis: 15%;
    margin-top: 20px;
}

.block-1 h2{
    font-size: 40px;
    margin-bottom: 10px;
}

.social{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

.title{
    font-weight: bold ;
    color: #8ea2e2;
}

.block-2 *{
    margin-bottom: 10px;
}

.block-2 a{
    color: white;
}

.nav-footer{
    padding-top: 50px;
}

.main-footer{
    margin-top: 20px;

}

.main-footer .flex{
    justify-content: space-between;
    border-top: 1px solid white;
    padding: 20px 0 50px 0;
}

footer .login a{
    background-color: #8ea2e2;
    color: white;
}